streamlit>=1.30.0
google-genai>=0.3.0
qrcode[pil]
requests 
streamlit-extras
streamlit-paste-button
langchain
faiss-cpu 
langchainhub
langchain_upstage
langchain_community
watchdog
openpyxl==3.1.5
tokenizers
pydantic
crawl4ai
tinydb
duckduckgo-search 
langchain-community
