gradio==4.29
langchain_upstage
duckduckgo-search
langchain-groq
openai
requests 
streamlit
streamlit-extras
streamlit-paste-button
langchain
faiss-cpu 
langchainhub
langchain_community
watchdog
openpyxl==3.1.5
tokenizers
pydantic
streamlit-mic-recorder